{% extends 'base.html.twig' %}

{% block title %}New Movement{% endblock %}

{% block body %}
<div class="page-wrapper">
  <div class="page-content">
  <div class="row">
    <div class="col-xl-7 mx-auto">
      <h6 class="mb-0 text-uppercase">Nouveau mouvement</h6>
      <hr/>
      <div class="card border-top border-0 border-4 border-primary">
        <div class="card-body p-5">
          {{ include('movement/_form.html.twig') }}
        </div>
      </div>
    </div>
  </div>

    <a href="{{ path('app_movement_index') }}">back to list</a>
  </div>
</div>

{% endblock %}
